// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin: 30px;
}

.letter {
  display: flex;
  justify-content: space-between;
}

.box {
  font-size: 40px;
  padding: 10px 10px;
  font-weight: bolder;
  color: white;
  background: blue;
  border: 2px solid blue;
  margin-bottom: 10px;
  width: 30px;
}

